* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
:root {
  --primary--: #2ee6f3;
  --gray--: rgba(173, 173, 173, 0.271);
  --black--: #ffffff; /* alway use in word like h1 p and links etc  text-color    */
  --white--: #000000; /* alway use in body  --background-color:*/
  --hovercolor1--: rgb(0, 204, 255);
  --buttoncolor--: rgb(1, 175, 255);
  --darkthembuttoncolor--: rgb(68, 68, 68);
  --footer-bg-color--: rgba(53, 51, 51, 0.477);
  --headerbordercolor: rgba(71, 71, 71, 0.333);
}
body {
  background-color: var(--white--);
  color: var(--black--);
  transition: background-color 0.3s, color 0.3s;
}
/* dark mood enable*/

.dark-mode {
  --white--: #ffffff; /* alway use in body  --background-color: ----------------------*/
  --black--: #000000; /* alway use in word like h1 p and links etc  text-color    */
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  height: 27px;
  width: 55px;
  background-color: #514d4d;
  transition: 0.4s;
  border-radius: 34px;
      margin-top: 7px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #343435;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
header {
  /* border-bottom: 2px solid var(--headerbordercolor); */
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--headerbordercolor);
}
header h1 {
  color: var(--primary--);
  letter-spacing: 7px;
}
nav a {
  padding: 0px 10px;
  text-decoration: none;
  font-size: 20px;
  color: var(--black--);
  font-weight: bold;
}
header div i {
  height: 37px;
  width: 37px;
  margin: 0 8px ;
  margin-top: 20px;
  transition: 0.3s;
  color: var(--black--);
}
header div i:hover {
  color: var(--hovercolor1--);
  transform: scale(1.5);
  direction: inherit;
}
/* Uncomment the following styles to see the hover effect on navigation links */
nav a {
  position: relative;
  transition: color 0.3s;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: blueviolet;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: right;
}
nav a:hover {
  color: var(--hovercolor1--);
}
nav a:hover::after {
  transform: scaleX(1);
}
/* hero-section css */
#hero {
  padding: 50px 100px;
}
.hero-row {
  display: flex;
}
.hero-left-col {
  width: 50%;
  padding-left: 38px;
  padding-top: 30px;
}
.hero-left-col h1 {
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 70px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 60px;
  color: var(--black--);
}
.hero-left-col h1 span {
  color: var(--primary--);
}
.hero-left-col p {
  margin-bottom: 20px;
  margin-left: 60px;
  color: var(--black--);
}
.hero-left-col form input {
  width: 300px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: 60px;
}
.hero-left-col form button {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: var(--buttoncolor--);
  color: var(--white--);
}
.hero-left-col form button:hover {
  background-color: rgb(230, 0, 255);
}
.hero-left-col .counter {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  color: var(--black--);
}
div .counter {
  margin-right: 250px;
}
.hero-right-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 35px;
}
.hero-right-col div {
  background-color: #f5f5f5;
  height: 370px;
  width: 370px;
  border-radius: 50%;
  margin-top: 30px;
}
.hero-right-col div img {
  height: 468px;
  margin-top: -45px;
  filter: drop-shadow(7px 5px 9px rgb(30, 0, 255));
}
#welcomeMr {
  width: 150px;
  height: 325px;
  position: absolute;
  top: 375px;
  left: 79px;
}
/* Feature section css */
#featured-1 {
  padding: 50px 100px;
  margin: 100px;
  margin-top: 300px;
}
.feature-1-row {
  display: flex;
  align-items: center;
}
.featured-1-left-col {
  width: 50%;
}
.featured-1-right-col {
  width: 50%;
}
.featured-1-right-col p {
  margin-bottom: 20px;
  color: var(--primary--);
  padding-left: 100px;
}
.featured-1-right-col h1 {
  font-size: 40px;
  color: var(--black--);
  margin-bottom: 10px;
  margin-left: 100px;
}
.featured-1-right-col button {
  padding: 10px;
  border: 1px solid var(--black--);
  color: var(--black--);
  background-color: var(--buttoncolor--);
  margin-left: 100px;
}
.featured-1-right-col .featurePrag {
  color: var(--black--);
  padding-left: 100px;
}
.featured-1-left-col img {
  margin-top: 150px;
}
/* featured section 2 css */
#featured-2 {
  padding: 50px 100px;
  margin: 100px;
  margin-top: 270px;
}
.featured-2-row {
  display: flex;
  align-items: center;
}
.featured-2-left-col {
  width: 50%;
}
.featured-2-right-col {
  width: 50%;
  margin-top: 100px;
}
.featured-2-left-col p {
  margin-bottom: 20px;
  color: var(--primary--);
}
.featured-2-left-col h1 {
  font-size: 40px;
  color: var(--black--);
  margin-bottom: 10px;
}
.featured-2-left-col .featurePrag {
  color: var(--black--);
  padding-right: 100px;
}
.featured-2-left-col button {
  padding: 10px;
  border: 1px solid var(--black--);
  color: var(--black--);
  background-color: var(--buttoncolor--);
  margin-right: 100px;
}
.featured-2-right-col img {
  width: 600px;
}
/* featured section 3 css */
#featured-3 {
  padding: 100px;
  margin: 100px;
  margin-top: 220px;
}
.featured-3-row {
  display: flex;
  align-items: center;
}
.featured-3-left-col {
  width: 50%;
}
.featured-3-right-col {
  width: 50%;
}
.featured-3-right-col p {
  margin-bottom: 20px;
  color: var(--primary--);
}
.featured-3-right-col h1 {
  font-size: 40px;
  color: var(--black--);
  margin-bottom: 10px;
}
.featured-3-right-col .featurePrag {
  color: var(--black--);
  padding-right: 100px;
}
.featured-3-right-col button {
  padding: 10px;
  border: 1px solid var(--black--);
  color: var(--black--);
  background-color: var(--buttoncolor--);
  margin-right: 100px;
}
/* featured Section 4 css */
#featured-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 300px;
}
.blog {
  position: absolute;
  margin-top: -650px;
  margin-left: 44%;
  margin-bottom: -100px;
  color: var(--black--);
  font-size: 40px;
  text-align: center;
}
.card {
  width: 350px;
  height: 380px;
  margin: 30px;
  color: var(--black--);
  box-shadow: 1px 1px 3px var(--black--);
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  width: 97%;
  height: 200px;
  margin-left: 5px;
  margin-top: 5px;
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
}
.card h1 {
  margin-top: 10px;
  margin-left: 6px;
  color: var(--black--);
  font-size: large;
}
.card p {
  /* justify-self: center; */
  margin-left: 6px;
  color: var(--black--);
  font-size: large;
}
.card button {
  padding: 10px;
  margin-left: 6px;
  margin-top: 10px;
  background-color: var(--buttoncolor--);
  color: var(--black--);
}
/*  sellling protion css  */

#selling {
  padding: 50px 100px;
}
#selling h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: var(--black--);
  margin-bottom: 45px;
}
.selling-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.selling-box {
  width: 30%;
  background-color: var(--footer-bg-color--);
}

.selling-box img {
  width: 100%;
}

.selling-box h3,
.selling-box p {
  text-align: center;
  margin-bottom: 10px;
  color: var(--black--);
}

/*  festival  area */
#festival {
  padding: 50px 100px;
  margin-top: 120px;
}
.festival-row {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.festival-left-col {
  width: 50%;
}
.festival-right-col {
  width: 50%;
  margin-right: 100px;
}
.festival-left-col p {
  margin-bottom: 20px;
  color: var(--black--);
}
.festival-left-col h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--black--);
}
.festival-left-col span {
  color: var(--primary--);
}
.festival-left-col button {
  padding: 10px;
  background-color: var(--buttoncolor--);
}
.festival-right-col img {
  height: 350px;
  width: 700px;
}

/*  footer area section 5 */

footer form {
  text-align: center;
  margin: 50px 0px;
}
footer form input {
  width: 50%;
  padding: 10px;
  background-color: var(--gray--);
  border: none;
  outline: none;
  color: var(--black--);
}
footer form button {
  outline: none;
  border: none;
  background-color: var(--buttoncolor--);
  color: var(--black--);
  padding: 10px;
}
.footer-row {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--footer-bg-color--);
}
.footer-col {
  padding-top: 20px;
}
.footer-col p {
  margin-bottom: 6px;
  color: var(--black--);
  text-decoration: none;
}
.footer-col img {
  height: 54px;
  width: 208px;
}
.footer-col h2 {
  margin-bottom: 6px;
  color: var(--black--);
  text-decoration: none;
  margin-top: 8px;
}
.footer-col a {
  text-decoration: none;
  display: block;
  color: var(--black--);
  margin-top: 6px;
}
.footer-links {
  display: flex;
}
.footer-links a i {
  height: 37px;
  width: 37px;
  margin-top: 2px;
  transition: 0.3s;
  color: var(--black--);
}
.footer-col a i:hover {
  color: var(--hovercolor1--);
}
